@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    font-family: "Maven Pro";
    font-weight: 400 !important;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container {
    max-width: 100%;
    max-height: auto;
}
:root {
    --main_bg: #F8FAFC;
    --main_color: #232226;
    --card_bg: #202023;
    --hover_color: #F59E0B;
    --text_color: #212121;
    --secondary_text: #64748B;
}
footer .lstul {
    padding: 0;
    margin: 0;
}